
table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

table, td, th{
    border-collapse: collapse;
    border: 1px solid black;
    height:auto;
    overflow: hidden;
}

#box1 {
    display: flex;
    float:left; 
    width:130px;
    border: 1px solid lightgray;
    box-sizing: border-box;
    box-shadow: 3px 3px 5px 0px rgba(191, 191, 191, 0.53); 
    padding-left: 6px;
    padding-right: 10px;
    /* padding-top: 6px; */
    cursor: pointer;
    transition: transform 250ms ease-in;
}

#box1:hover{
    transform: scale(1.02);
}

#box2 {
    display: table-cell;
    width:200px; 
    height:100px;
    border: 1px solid lightgray;
    box-shadow: 3px 3px 5px 0px rgba(191, 191, 191, 0.53); 
    /* box-sizing: border-box; */
    margin-left:10px;
    vertical-align: middle;
    padding-right: 120px;
    cursor: pointer;
    transition: transform 250ms ease-in;
}

#box2:hover{
    transform: scale(1.02);
}

.display_flex{
    display:flex;
    float: left;
}
.display_grid{
    display: flex; 
    justify-content: end;

}

.displayU_flex{
    margin-bottom: 0px;
    margin-top: 0px;
    width: 1000px;
}

.displayU_grid{
    margin-bottom: 0px;
    margin-top: 0px;
    width: 500px;
    padding-left: 0px;
}

.ListDetail{
    width: 900px;
}
.ListDetail_iframe{
    margin: 0;
}

.app{
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.search, .keyWSearch{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.search .grid{
    width: 80%;
    margin-left: 10px;
}

.search .flex{
    width: 66%;
    margin-left: 10px;
}

.searchU_flex{
    width: 1000px;
    display: flex;
}

.searchU_grid{
    width: 100%;
    display: flex;
    padding-left: 66px;
}

.searchK_flex, .searchK_grid {
    cursor: pointer;
    width: 750px;
    display: flex;
    align-items: center;
    position: relative;
    /* flex-direction: column; */
    /* position: absolute; */
    margin-left: auto;
    margin-right: auto;
    left: 25px;
    background: aliceblue;
    z-index: 20000;
}

.searchK_grid{
    width: 77%;
}
.keyWSearch{
    display: block;
    top: 68px;
    bottom: 10px;
    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 200px;
}

.icon_search{
    padding-left: 10px;
}

iframe{
    width: 860px;

}

.searchU_Bt{
    background-color: white;
    border-color: darkgray;
}